/* Mobile Styles */
@media only screen and (max-width: 480px) {
	.disco__img{
		width: 100%;
	}
	.sectionDisco__imagen{
		height: 110px;
	}
	.disco__titulos{
		font-size: 13px;
		color: black;
		margin-top: 0;

	}
	.disco__parrafo{
		display: none;
	}
	.sectionDiscoDos__fondo{
		background-image: url(../imagenes/nuevoFondo.jpg);
		margin-top: 3em;
	}
	.sectionDiscoDos__imagen{
		width: 45%;
		margin-left: 7em;
	}
	.body__hamburguesa{
	  	position: relative;
	}
	.header__home4{
	  	display: flex;
	  	justify-content: space-between;
	  	align-items: baseline;
	  	background: black;
	  	padding: 1em 3em;
		background: black;
	    height: 5em;
	    padding: .5em
	}
	.oculto {
	  	display: none;
	  	position: fixed;
	  	background-color: #e91e63;
	  	color: #fff;
	  	top: 0;
	  	width: 100%;
	  	height: 100%;
		font-size: 25px;
	    display: flex;
	    text-align: center;
	    list-style-type: none;
	    list-style: none;
	    margin: 0 auto;
	    justify-content: center;
	    padding-top: 2em;
		z-index: 1;
	}
	.contacto__submenu{
		background-color: transparent;
	    color: white;
	    font-size: 34px;
	    border-bottom: white;
	    list-style-type: none;
	    border-color: white;
	    border-style: solid;
	    padding: .5em;
	    border-radius: 5%;
	    box-shadow: 1px 1px 1px #000;
	}
	.discografia__cruzCierre{
		display: flex;
	    justify-content: flex-end;
	    align-items: flex-start;
	    margin-bottom: 4em;
	    padding-right: 1em;
	}

}
/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.header__home4{
	  	display: flex;
	  	justify-content: space-between;
	  	align-items: baseline;
	  	padding: 1em 3em;
	    height: 5em;
	    padding: .5em;
	}
	.sectionDisco__imagen{
		width: 300px;
		height: 230px;
	}
	.disco__titulos{
		font-size: 20px;
		color: black;
		margin-left: 0;
	}
	.disco__parrafo{
		font-size: 11px;
		color: black;
		margin-left: 0;
	}
	.sectionDiscoDos__fondo{
		background-color: white;
		margin-top: 3em;
	}
	.sectionDiscoDos__imagen{
		width: 45%;
		margin-left: 20em;
	}
	.sectionDisco__tabla{
		width: 50%;
    	margin-bottom: 4em;
	}
}


/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
	.header__home4{
	  	display: flex;
	  	justify-content: space-between;
	  	align-items: baseline;
	    height: 5em;
	    padding: .5em;
	}

	.sectionDisco__imagen{
		width: 300px;
		height: 230px;
	}
	.disco__titulos{
		font-size: 20px;
		color: black;
		margin-left: 0;
	}
	.disco__parrafo{
		font-size: 11px;
		color: black;
		margin-left: 0;
	}
	.sectionDiscoDos__fondo{
		background-color: white;
		margin-top: 3em;
	}
	.sectionDiscoDos__imagen{
		width: 45%;
		margin-left: 20em;
	}
	.sectionDisco__tabla{
		width: 50%;
    	margin-bottom: 4em;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 1025px){
	.header__home4{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.sectionDisco__imagen{
		width: 300px;
		height: 230px;
	}
	.disco__titulos{
		font-size: 20px;
		color: black;
		margin-left: 0;
	}
	.disco__parrafo{
		font-size: 11px;
		color: black;
		margin-left: 0;
	}
	.sectionDiscoDos__fondo{
		background-image: url(../imagenes/nuevoFondo.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
	.sectionDiscoDos__imagen{
		width: 45%;
		margin-left: 20em;
	}
	.sectionDisco__tabla{
		width: 50%;
    	margin-bottom: 4em;
	}
	.headerDisco__celOculto{
		display: none;
	}
	.discografia__ul{
		display: none;
	}
	.oculto{
		display: none;
	}
}