$backgroundcolor: black;

/* Mobile Styles */
@media only screen and (max-width: 480px) {
	.header__home6{
		width: 100%;
		height: 70px;
		background-color: #f30a5c;
		margin-bottom: 1em;
		margin-top: -1.4em;
	}
	.header__logo{
		float: left;
		width: 89px;
		height: 70px;
		margin-left: 1em;
		padding-top: 0;
		margin-top: 0;
	}
	.header__nav{
		display: none;
	}

	.header__listaCel{
		display: none;
		color: black;
		background-color: #7e0d37;
		height: 70px;
		width: 90px;
		list-style-type: none;
		text-align: left;
		position: absolute;
		margin: 0;
		padding: 10px;
	}
	.header__menuCel:hover .header__listaCel{
		color: black;
		display: block;
	}
	.sectionHome__imagen{
		width: 100%;
	}
	.fotogaleria__fotoinicio{
		width: 112%;
	}
	.fotogaleria__divImagenes{
		max-width: 105%;
	}
	.fotogaleria__diVideo{
		background: #f30a5c;
		padding: 1em;
		width: 87%;
		height: 60%;
		display: flex;
    	flex-direction: column;
    	margin-bottom: 2em;
	}
	.fotogaleria__texto{
		border-bottom: solid 1.5px;
	    margin: 1em;
	    font-size: 16px;
	    margin-top: 3em;
	    margin-bottom: 3em;
	    color: white;
	}
	.fotogaleria__Vnuevo{
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.fotogaleria__iframe{
		width: 100%;
	    height: 15em;
	}
	.oculto{
		position: fixed;
	    background-color: #e91e63;
	    color: #fff;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    font-size: 25px;
	    text-align: center;
	    list-style-type: none;
	    list-style: none;
	    margin: 0 auto;
	    justify-content: center;
	    padding-top: 6em;
	    z-index: 1;
	}
	.contacto__submenu{
		background-color: transparent;
	    color: white;
	    font-size: 34px;
	    border-bottom: white;
	    list-style-type: none;
	    border-color: white;
	    border-style: solid;
	    padding: .5em;
	    border-radius: 5%;
	    box-shadow: 1px 1px 1px #000;
	}
	.discografia__cruzCierre{
		display: flex;
	    justify-content: flex-end;
	    align-items: flex-start;
	    margin-bottom: 4em;
	    padding-right: 1em;
	}

}
/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.header__home{
		width: 100%;
		height: 70px;
		background-color: #E91E63;
	}
	.header__home6{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.h1__header{
		margin: 0;
		margin-left: 1em;
	}
	.header__logo{
		width: 120px;
		height: 95px;
		margin-top: 1.5em;
		margin-left: 1em;
	}
	.header__nav{
		float: right;
		text-decoration: none;
		color: pink;
		margin-right: 2em;
		margin-top: 2.5em;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 0;

	}
	.header__menuCel{
		display: none;
	}
	.footerHome__listaCel{
		display: none;
	}
	.header__subdesplegablePc{
		display: none;
		color: black;
		background-color: #e91e63;
		border-radius: 5%;
		height: 70px;
		width: 90px;
		list-style-type: none;
		text-align: left;
		position: absolute;
		margin: 0;
		padding: 10px;
	}
	.header__desplegablePc:hover .header__subdesplegablePc{
		color: black;
		display: block;

	}
	.header__listaCel{
		display: none;
	}
	.fotogaleria__fotoinicio{
		width: 99%;
	    margin-top: 1.5em;
	    padding: 1em;
	}
	.fotogaleria__contenedor{
		margin: 0 auto;
	    display: flex;
	    justify-content: center;
	    text-align: center;
	    max-width: 95%;
	}
	.fotogaleria__diVideo{
		background: #f30a5c;
		padding: 1em;
		width: 75%;
		height: 60%;
		display: flex;
    	flex-direction: column;
    	margin-bottom: 3em;
	}
	.fotogaleria__texto{
		border-bottom: solid 1.5px;
	    margin: 1em;
	    font-size: 21px;
	    margin-top: 3em;
	    margin-bottom: 3em;
	    color: white;
	}
	.fotogaleria__Vnuevo{
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.fotogaleria__iframe{
		width: 100%;
	    height: 15em;
	}
	.oculto{
		display: none;
	}
}
/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
	.header__home{
		width: 100%;
		height: 70px;
		background-color: #E91E63;
	}
	.header__home6{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.h1__header{
		margin: 0;
		margin-left: 1em;
	}
	.header__logo{
		width: 120px;
		height: 95px;
		margin-top: 1.5em;
		margin-left: 1em;
	}
	.header__nav{
		float: right;
		text-decoration: none;
		color: pink;
		margin-right: 2em;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 0;

	}
	.header__menuCel{
		display: none;
	}
	.footerHome__listaCel{
		display: none;
	}
	.header__subdesplegablePc{
		display: none;
		color: black;
		background-color: #e91e63;
		border-radius: 5%;
		height: 70px;
		width: 90px;
		list-style-type: none;
		text-align: left;
		position: absolute;
		margin: 0;
		padding: 10px;
	}
	.header__desplegablePc:hover .header__subdesplegablePc{
		color: black;
		display: block;

	}
	.header__listaCel{
		display: none;
	}
	.fotogaleria__fotoinicio{
		width: 99%;
	    margin-top: 1.5em;
	    padding: 1em;
	}
	.fotogaleria__contenedor{
		margin: 0 auto;
	    display: flex;
	    justify-content: center;
	    text-align: center;
	    max-width: 95%;
	}
	.fotogaleria__diVideo{
		background: #f30a5c;
		padding: 1em;
		width: 75%;
		height: 60%;
		display: flex;
    	flex-direction: column;
    	margin-bottom: 3em;
	}
	.fotogaleria__texto{
		border-bottom: solid 1.5px;
	    margin: 1em;
	    font-size: 21px;
	    margin-top: 3em;
	    margin-bottom: 3em;
	    color: white;
	}
	.fotogaleria__Vnuevo{
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.fotogaleria__iframe{
		width: 100%;
	    height: 15em;
	}
	.oculto{
		display: none;
	}
}
/* Desktop Styles */
@media only screen and (min-width: 1025px){
.header__home{
		width: 100%;
		height: 70px;
		background-color: #E91E63;
	}
	.header__home6{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.h1__header{
		margin: 0;
		margin-left: 1em;
	}

	.header__logo{
		width: 120px;
		height: 95px;
		margin-top: 1.5em;
		margin-left: 1em;
	}
	.header__nav{
		float: right;
		text-decoration: none;
		color: pink;
		margin-right: 2em;
		margin-top: 2.5em;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 0;

	}
	.header__menuCel{
		display: none;
	}
	.footerHome__listaCel{
		display: none;
	}
	.header__subdesplegablePc{
		display: none;
		color: black;
		background-color: #e91e63;
		border-radius: 5%;
		height: 70px;
		width: 90px;
		list-style-type: none;
		text-align: left;
		position: absolute;
		margin: 0;
		padding: 10px;
	}
	.header__desplegablePc:hover .header__subdesplegablePc{
		color: black;
		display: block;

	}
	.header__listaCel{
		display: none;
	}
	.fotogaleria__fotoinicio{
		width: 99%;
	    margin-top: 1.5em;
	    padding: 1em;
	}
	.fotogaleria__contenedor{
		margin: 0 auto;
	    display: flex;
	    justify-content: center;
	    text-align: center;
	    max-width: 95%;
	}
	.fotogaleria__diVideo{
		background: #f30a5c;
		padding: 1em;
		width: 75%;
		height: 60%;
		display: flex;
    	flex-direction: column;
    	margin-bottom: 3em;
	}
	.fotogaleria__texto{
		border-bottom: solid 1.5px;
	    margin: 1em;
	    font-size: 21px;
	    margin-top: 3em;
	    margin-bottom: 3em;
	    color: white;
	}
	.fotogaleria__Vnuevo{
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.fotogaleria__iframe{
		width: 100%;
	    height: 15em;
	}
	.oculto{
		display: none;
	}
}
