/* Mobile Styles */
@media only screen and (max-width: 480px){
	.header__home7{
		width: 100%;
		height: 70px;
		background-color: #f30a5c;
		margin-bottom: 1em;
		margin-top: -19px;
	}
	.header__logo{
		float: left;
		width: 89px;
		height: 70px;
		margin-left: 1em;
		padding-top: 0;
		margin-top: 0;
	}
	.header__nav{
		display: none;
	}

	.header__listaCel{
		display: none;
		color: black;
		background-color: #7e0d37;
		height: 70px;
		width: 90px;
		list-style-type: none;
		text-align: left;
		position: absolute;
		margin: 0;
		padding: 10px;
	}
	.header__menuCel:hover .header__listaCel{
		color: black;
		display: block;
	}
	.fotogaleria2__contenedor{
		display: flex;
		text-align: center;
		justify-content: space-between;
	    margin: 0;
	    margin-right: 0;
	    width: 100%;
	}
	.fotogaleria2__foto11{
		display: flex;
	    flex-direction: column;
	    width: 321%;
	    margin-left: 2em;
	}
	.fotogaleria2__foto1{
	    width: 81%;
	    height: 68%;
	    padding-top: 1em;
	}
	.fotogaleria2__foto4{
		width: 81%;
	    margin-top: 1em;
	}
	.fotogaleria2__foto22{
		display: flex;
	    flex-direction: column;
	    width: 288%;
	    margin-left: 2em;
	}
	.fotogaleria2__foto2{
		width: 126%;
	    height: 23%;
	    margin-bottom: 1em;
	    margin-top: 1em;
	    margin-left: -35px;
	    padding-right: 2em;
	}
	.fotogaleria2__foto3{
		width: 109%;
    	margin-left: -36px;
	}
	.fotogaleria2__foto55{
		margin: 0 auto;
	    width: 286%;
	}
	.fotogaleria2__foto5{
	    display: none;
	}
	.oculto {
	  	display: none;
	  	position: fixed;
	  	background-color: #e91e63;
	  	color: #fff;
	  	top: 0;
	  	width: 100%;
	  	height: 100%;
		font-size: 25px;
	    display: flex;
	    text-align: center;
	    list-style-type: none;
	    list-style: none;
	    margin: 0 auto;
	    justify-content: center;
	    padding-top: 2em;
		z-index: 1;
	}
	.contacto__submenu{
		background-color: transparent;
	    color: white;
	    font-size: 34px;
	    border-bottom: white;
	    list-style-type: none;
	    border-color: white;
	    border-style: solid;
	    padding: .5em;
	    border-radius: 5%;
	    box-shadow: 1px 1px 1px #000;
	}
	.discografia__cruzCierre{
		display: flex;
	    justify-content: flex-end;
	    align-items: flex-start;
	    margin-bottom: 4em;
	    padding-right: 1em;
	}

}
/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.header__home{
		width: 100%;
		height: 70px;
		background-color: #E91E63;
	}
	.header__logo{
		width: 120px;
		height: 95px;
		margin-top: 1.5em;
		margin-left: 1em;
	}
	.header__home7{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.h1__header{
		margin: 0;
		margin-left: 1em;
	}
	.header__nav{
		float: right;
		text-decoration: none;
		color: pink;
		margin-right: 2em;
		margin-top: 2.5em;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 0;

	}
	.header__menuCel{
		display: none;
	}
	.footerHome__listaCel{
		display: none;
	}
	.header__subdesplegablePc{
		display: none;
		color: black;
		background-color: #e91e63;
		border-radius: 5%;
		height: 70px;
		width: 90px;
		list-style-type: none;
		text-align: left;
		position: absolute;
		margin: 0;
		padding: 10px;
	}
	.header__desplegablePc:hover .header__subdesplegablePc{
		color: black;
		display: block;

	}
	.header__listaCel{
		display: none;
	}
	.fotogaleria2__contenedor{
		display: flex;
		text-align: center;
		justify-content: space-between;
	}
	.fotogaleria2__foto11{
		display: flex;
		flex-direction: column;
		width: 134%;
		margin-left: 2em;
	}

	.fotogaleria2__foto11.hover{
		transform: scale (6,1);
	}
	.fotogaleria2__foto1{
		width: 90%;
	    padding: 1em;
	    margin-left: 1em;
	    height: 68%;
	    padding-top: 0;
	    margin-bottom: 2em;
	}
	.escalar{
	    transition: transform .3s;
		    &:hover{
		    	transform: scale(1.2);
		    }
	}
	.fotogaleria2__foto4{
		width: 84%;
    	margin-left: 2em;
	}
	.fotogaleria2__foto22{
		display: flex;
		flex-direction: column;
		width: 180%;
	}
	.fotogaleria2__foto2{
		width: 95%;
	    height: 32%;
	    margin-bottom: 3em;
	    padding-right: 2em;
	}
	.fotogaleria2__foto3{
		width: 90%;
	    margin-bottom: 2em;
	}
	.fotogaleria2__foto55{
		width: 97%;
    	margin-right: 3em;
	}
	.fotogaleria2__foto5{
		width: 43%;
	    margin-right: 2.3em;
	    margin-top: 0.3em;
	}
}
/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
	.header__home{
		width: 100%;
		height: 70px;
		background-color: #E91E63;
	}
	.header__logo{
		width: 120px;
		height: 95px;
		margin-top: 1.5em;
		margin-left: 1em;
	}
	.header__home7{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.h1__header{
		margin: 0;
		margin-left: 1em;
	}
	.header__nav{
		float: right;
		text-decoration: none;
		color: pink;
		margin-right: 2em;
		margin-top: 2.5em;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 0;

	}
	.header__menuCel{
		display: none;
	}
	.footerHome__listaCel{
		display: none;
	}
	.header__subdesplegablePc{
		display: none;
		color: black;
		background-color: #e91e63;
		border-radius: 5%;
		height: 70px;
		width: 90px;
		list-style-type: none;
		text-align: left;
		position: absolute;
		margin: 0;
		padding: 10px;
	}
	.header__desplegablePc:hover .header__subdesplegablePc{
		color: black;
		display: block;

	}
	.header__listaCel{
		display: none;
	}
	.fotogaleria2__contenedor{
		display: flex;
		text-align: center;
		justify-content: space-between;
	}
	.fotogaleria2__foto11{
		display: flex;
		flex-direction: column;
		width: 134%;
		margin-left: 2em;
	}

	.fotogaleria2__foto11.hover{
		transform: scale (6,1);
	}
	.fotogaleria2__foto1{
		width: 90%;
	    padding: 1em;
	    margin-left: 1em;
	    height: 68%;
	    padding-top: 0;
	    margin-bottom: 2em;
	}
	.escalar{
	    transition: transform .3s;
		    &:hover{
		    	transform: scale(1.2);
		    }
	}
	.fotogaleria2__foto4{
		width: 84%;
    	margin-left: 2em;
	}
	.fotogaleria2__foto22{
		display: flex;
		flex-direction: column;
		width: 180%;
	}
	.fotogaleria2__foto2{
		width: 95%;
	    height: 32%;
	    margin-bottom: 3em;
	    padding-right: 2em;
	}
	.fotogaleria2__foto3{
		width: 90%;
	    margin-bottom: 2em;
	}
	.fotogaleria2__foto55{
		width: 97%;
    	margin-right: 3em;
	}
	.fotogaleria2__foto5{
		width: 43%;
	    margin-right: 2.3em;
	    margin-top: 0.3em;
	}

}
/* Desktop Styles */
@media only screen and (min-width: 1025px){
	.header__home{
		width: 100%;
		height: 70px;
		background-color: #E91E63;
	}
	.header__logo{
		width: 120px;
		height: 95px;
		margin-top: 1.5em;
		margin-left: 1em;
	}
	.header__home7{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.header__nav{
		float: right;
		text-decoration: none;
		color: pink;
		margin-right: 2em;
		margin-top: 2.5em;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 0;

	}
	.header__menuCel{
		display: none;
	}
	.footerHome__listaCel{
		display: none;
	}
	.header__subdesplegablePc{
		display: none;
		color: black;
		background-color: #e91e63;
		border-radius: 5%;
		height: 70px;
		width: 90px;
		list-style-type: none;
		text-align: left;
		position: absolute;
		margin: 0;
		padding: 10px;
	}
	.header__desplegablePc:hover .header__subdesplegablePc{
		color: black;
		display: block;

	}
	.header__listaCel{
		display: none;
	}
	.fotogaleria2__contenedor{
		display: flex;
		text-align: center;
		justify-content: space-between;
	}
	.fotogaleria2__foto11{
		display: flex;
		flex-direction: column;
		width: 134%;
		margin-left: 2em;
	}

	.fotogaleria2__foto11.hover{
		transform: scale (6,1);
	}
	.fotogaleria2__foto1{
		width: 90%;
	    padding: 1em;
	    margin-left: 1em;
	    height: 68%;
	    padding-top: 0;
	    margin-bottom: 2em;
	}
	.escalar{
	    transition: transform .3s;
		    &:hover{
		    	transform: scale(1.2);
		    }
	}
	.fotogaleria2__foto4{
		width: 84%;
    	margin-left: 2em;
	}
	.fotogaleria2__foto22{
		display: flex;
		flex-direction: column;
		width: 180%;
	}
	.fotogaleria2__foto2{
		width: 95%;
	    height: 32%;
	    margin-bottom: 3em;
	    padding-right: 2em;
	}
	.fotogaleria2__foto3{
		width: 90%;
	    margin-bottom: 2em;
	}
	.fotogaleria2__foto55{
		width: 97%;
    	margin-right: 3em;
	}
	.fotogaleria2__foto5{
		width: 43%;
	    margin-right: 2.3em;
	    margin-top: 0.3em;
	}

}